<h2>Buttons</h2>
<div>
  <cns-button
    name="Default">
  </cns-button>

  <cns-button
    name="Default disabled"
    type="default"
    disabled="disabled">
  </cns-button>

  <cns-button
    name="Primary"
    type="primary">
  </cns-button>

  <cns-button
    name="Primary"
    type="primary"
    disabled="disabled">
  </cns-button>

  <cns-button
    name="Secondary"
    type="secondary">
  </cns-button>

  <cns-button
    name="Secondary"
    type="secondary"
    disabled="disabled">
  </cns-button>
</div>

<h2>Button Groups</h2>
<div>
  <cns-button-group
    type="primary"
    [data]="data">
  </cns-button-group>

  <cns-button-group
    type="secondary"
    [data]="data">
  </cns-button-group>
</div>
