<section class="header-wrapper">
  <nav class="header">
    <div class="left">
      <img class="logo" src="../../../assets/logo.png" />
      <ol>
        <li><cns-link href="/banking" color="grey">Banking</cns-link></li>
        <li><cns-link href="/loans" color="grey">Loans</cns-link></li>
        <li><cns-link href="/insurnaces" color="grey">Insurances</cns-link></li>
        <li><cns-link href="/supertools" color="grey">Super & Investing</cns-link></li>
        <li><cns-link href="/business" color="grey">Business</cns-link></li>
        <li><cns-link href="/tools" color="grey">Tools</cns-link></li>
        <li><img class="search-icon" src="../../../assets/search-icon.png" /></li>
      </ol>
    </div>

    <div class="right">
      <cns-text variation="subdued">Switch to <span class="bold-it">Canstar Blue</span></cns-text>
      <section class="vertical-line"></section>
      <cns-button name="Sign Up" type="secondary">Sign Up</cns-button>
      <cns-button name="Sign In" type="secondary">Sign In</cns-button>
    </div>

  </nav>

  <div class="container">
    <div class="banner">
      <div>
        <cns-display typestyle="xlarge" transform="normal">Find a better deal on Credit Cards</cns-display>
        <cns-display typestyle="small" variation="subdued" transform="normal">Now you can compare cards side-by-side, plus get info about rewards, points, interest rates, and how to apply, all in one place.</cns-display>
      </div>
    </div>
  </div>

</section>

<div class="container">
  <cns-callout-card style="margin-top: -50px; background: #fff;"></cns-callout-card>
</div>

<div class="container">
  <cns-block style="margin-bottom: -155px;">
    <cns-display slot="heading" typestyle="large">Learn more about Credit Cards</cns-display>
    <div slot="body">
      <div style="display: flex; justify-content: space-between;">
        <div>
          <cns-text>Types of Credit Cards</cns-text>
          <cns-link>What types of credit cards are there?</cns-link>
          <cns-link>What does the 'colour' of your credit card mean?</cns-link>
        </div>
        <div>
          <cns-text>Do I need a credit card?</cns-text>
          <cns-link>Things to think about before getting a credit card</cns-link>
          <cns-link>Do I need a credit card?</cns-link>
        </div>
        <div>
          <cns-text>Applying for a credit card</cns-text>
          <cns-link>Am I eligible to apply for a credit card?</cns-link>
          <cns-link>What documentation do I need to apply for a credit card?</cns-link>
        </div>
        <div>
          <cns-text>What do credit cards cost?</cns-text>
          <cns-link>How is credit card interest calculated?</cns-link>
          <cns-link>How do interest free days work on credit cards?</cns-link>
        </div>
      </div>

      <div style="display: flex; justify-content: space-between; padding-top: 50px;">
        <style>
          .small-cards {
            width: 40%;
            background-color: #fff;
          }
        </style>
        <cns-callout-card class="small-cards" img="assets/circled-user-male-skin-type-1-2.png" img-alt="credit card display circular image">
          <cns-display slot="title" typestyle="small">Not sure which Credit Card suits you?</cns-display>
          <cns-text slot="body" variation="subdued">
            Whether you want to pay less interest or earn more rewards, the right card’s out there. Just answer a few questions and we’ll narrow the search for you.
          </cns-text>
          <cns-button slot="action" name="Get Started" type="secondary">
          </cns-button>
        </cns-callout-card>

        <cns-callout-card class="small-cards" img="assets/circled-user-male-skin-type-1-2.png" img-alt="credit card display circular image">
          <cns-display slot="title" typestyle="small">Not sure which Credit Card suits you?</cns-display>
          <cns-text slot="body" variation="subdued">
            Whether you want to pay less interest or earn more rewards, the right card’s out there. Just answer a few questions and we’ll narrow the search for you.
          </cns-text>
          <cns-button slot="action" name="Get Started" type="secondary">
          </cns-button>
        </cns-callout-card>
      </div>
    </div>
  </cns-block>
</div>

<cns-block class="odd-block" style="background-color: rgba(235,247,238,1);">
  <cns-display slot="heading" typestyle="large">Latest in Credit Cards</cns-display>

  <div slot="body">
    <div class="container">
      <cns-article type="full-width" img="assets/5.png" style="padding: 33px 0;">
        <cns-title slot="article-date" typestyle="heading" variation="subdued" weight="normal">July 4th</cns-title>
        <cns-display slot="article-title" typestyle="medium">
          Credit Card Bonus Offers & Deals Currently Available
        </cns-display>
        <cns-title slot="article-info" typestyle="heading" variation="subdued" weight="normal">
          If you're currently in the market for a credit card, check out the latest special offers that are currently available on our CANSTAR database.
        </cns-title>
        <cns-link slot="article-link" href="alink">Read More</cns-link>
      </cns-article>

      <div style="display: flex; justify-content: space-between; padding-bottom: 48px;">
        <style>
          .small-articles {
            width: 23%;
          }
        </style>
        <cns-article class="small-articles" type="flex-width" img="assets/1.png">
          <cns-display slot="article-title" typestyle="small">
            From Handmade Leather to Woven Fabrics: My Top 5 Places to Shop in Bali
          </cns-display>
          <cns-link slot="article-link" href="alink">Read More</cns-link>
        </cns-article>

        <cns-article class="small-articles" type="flex-width" img="assets/2.png">
          <cns-display slot="article-title" typestyle="small">
            Top Velocity Frequent Flyer Credit Cards on Canstar's Database: December 2018
          </cns-display>
          <cns-link slot="article-link" href="alink">Read More</cns-link>
        </cns-article>

        <cns-article class="small-articles" type="flex-width" img="assets/3.png">
          <cns-display slot="article-title" typestyle="small">
            Top Qantas Frequent Flyer Credit Cards on Canstar’s Database: December 2018
          </cns-display>
          <cns-link slot="article-link" href="alink">Read More</cns-link>
        </cns-article>

        <cns-article class="small-articles" type="flex-width" img="assets/4.png">
          <cns-display slot="article-title" typestyle="small">
            Roundup: The Longest 0% Balance Transfer Offers Available in December 2018
          </cns-display>
          <cns-link slot="article-link" href="alink">Read More</cns-link>
        </cns-article>
      </div>
      <cns-button name="View all Credit Card articles >" type="secondary"></cns-button>
    </div>
  </div>
</cns-block>
