<section class="header-wrapper">
  <nav class="header">
    <div class="left">
      <img class="logo" src="../../../assets/logo.png" />
      <ol>
        <li><cns-link href="/banking" color="grey">Banking</cns-link></li>
        <li><cns-link href="/loans" color="grey">Loans</cns-link></li>
        <li><cns-link href="/insurnaces" color="grey">Insurances</cns-link></li>
        <li><cns-link href="/supertools" color="grey">Super & Investing</cns-link></li>
        <li><cns-link href="/business" color="grey">Business</cns-link></li>
        <li><cns-link href="/tools" color="grey">Tools</cns-link></li>
        <li><img class="search-icon" src="../../../assets/search-icon.png" /></li>
      </ol>
    </div>

    <div class="right">
      <cns-text variation="subdued">Switch to <span class="bold-it">Canstar Blue</span></cns-text>
      <section class="vertical-line"></section>
      <cns-button name="Sign Up" type="secondary">Sign Up</cns-button>
      <cns-button name="Sign In" type="secondary">Sign In</cns-button>
    </div>

  </nav>
</section>


<section class="banner">
  <div class="left">

  </div>

  <div class="right">

  </div>
</section>