  <cns-article
    type="full-width"
    date="July 4th"
    title="Credit Card Bonus Offers & Deals Currently Available"
    content="If you're currently in the market for a credit card, check out the latest special offers that are currently available on our CANSTAR database."
    link="alink">
  </cns-article>

  <div class="flex-banner">
    <cns-article
      type="flex-width"
      date="July 4th"
      title="From Handmade Leather to Woven Fabrics: My Top 5 Places to Shop in Bali"
      content="l"
      link="alink">
    </cns-article>
    <cns-article
      type="flex-width"
      date="July 4th"
      title="Credit Card Bonus Offers & Deals Currently Available"
      content="If you're currently in the market for a credit card, check out the latest special offers that are currently available on our CANSTAR database."
      link="alink">
    </cns-article>
    <cns-article
      type="flex-width"
      date="July 4th"
      title="Credit Card Bonus Offers & Deals Currently Available"
      content="If you're currently in the market for a credit card, check out the latest special offers that are currently available on our CANSTAR database."
      link="alink">
    </cns-article>
    <cns-article
      type="flex-width"
      date="July 4th"
      title="Credit Card Bonus Offers & Deals Currently Available"
      content="If you're currently in the market for a credit card, check out the latest special offers that are currently available on our CANSTAR database."
      link="alink">
    </cns-article>
  </div>
