<made-with-love
  name="Chris Brewin"
  url="https://github.com/brewinski/Angular-7-Elements-POC/tree/master/src"
  size="2">
</made-with-love>

<banner-test
  title="Welcome to the Banner"
  blurb="This is just a little test banner to test web components."
  src="https://www.w3.org/html/logo/downloads/HTML5_Logo_512.png">
</banner-test>

<cns-buttons
  name="Conversion idle"
  type="conversion">
</cns-buttons>

<cns-button-group></cns-button-group>

<cns-button
  name="Primary"
  type="primary">
</cns-button>