<cns-display size="xlarge">DisplayXLarge</cns-display>
<cns-display size="xlarge" element="h3">DisplayXLarge</cns-display>
<cns-display size="xlarge" element="h1" variation="subdued">DisplayXLarge</cns-display>
<cns-display size="xlarge" weight="bold">DisplayXLarge</cns-display>
<cns-display size="xlarge">DisplayXLarge</cns-display>

<!-- <cns-display typestyle="xlarge">DisplayXLarge</cns-display>
<pre><code class="language-markup">{{ dxl }}</code></pre>

<cns-display typestyle="xlarge" variation="subdued">DisplayXLarge</cns-display>
<pre><code class="language-markup">{{ dxls }}</code></pre>


<cns-display typestyle="large">DisplayLarge</cns-display>
<pre><code class="language-markup">{{ dl }}</code></pre>

<cns-display typestyle="large" variation="subdued">DisplayLarge</cns-display>
<pre><code class="language-markup">{{ dls }}</code></pre>


<div>
  <cns-display typestyle="medium">DisplayMedium</cns-display>
  <cns-display typestyle="medium" variation="subdued">DisplayMedium</cns-display>
</div>

<div>
  <cns-display typestyle="small">DisplaySmall</cns-display>
  <cns-display typestyle="small" variation="subdued">DisplaySmall</cns-display>
</div>

<div>
  <cns-title typestyle="heading">heading</cns-title>
  <cns-title element="h4" typestyle="heading" variation="subdued">heading</cns-title>
</div>

<div>
  <cns-title typestyle="subheading">subheading</cns-title>
  <cns-title element="h1" typestyle="subheading" variation="subdued">subheading</cns-title>
</div>

<div>
  <cns-text>body</cns-text>
  <cns-text variation="subdued">body</cns-text>
  <cns-text variation="disabled">body</cns-text>
  <cns-text variation="reversed">body</cns-text>

  <cns-text transform="capitalize">body</cns-text>
  <cns-text transform="uppercase">body</cns-text>
  <cns-text transform="lowercase">body</cns-text>
  <cns-text transform="italic">body</cns-text>
</div>

<div>
  <cns-caption>Caption</cns-caption>
  <cns-caption variation="subdued">Caption</cns-caption>
</div> -->
