@font-face {
  font-family: 'Walsheim';
  src: url('/dist/fonts/gt-walsheim-regular-webfont.eot');
  src: url('/dist/fonts/gt-walsheim-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('/dist/fonts/gt-walsheim-regular-webfont.woff2') format('woff2'),
  url('/dist/fonts/gt-walsheim-regular-webfont.woff') format('woff'),
  url('/dist/fonts/gt-walsheim-regular-webfont.ttf') format('truetype'),
  url('/dist/fonts/gt-walsheim-regular-webfont.svg#gt_walsheimregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WalsheimBold';
  src: url('/dist/fonts/gt-walsheim-bold-webfont.eot');
  src: url('/dist/fonts/gt-walsheim-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('/dist/fonts/gt-walsheim-bold-webfont.woff2') format('woff2'),
  url('/dist/fonts/gt-walsheim-bold-webfont.woff') format('woff'),
  url('/dist/fonts/gt-walsheim-bold-webfont.ttf') format('truetype'),
  url('/dist/fonts/gt-walsheim-bold-webfont.svg#gt_walsheimbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'WalsheimLight';
  src: url('/dist/fonts/gt-walsheim-light-webfont.eot');
  src: url('/dist/fonts/gt-walsheim-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('/dist/fonts/gt-walsheim-light-webfont.woff2') format('woff2'),
  url('/dist/fonts/gt-walsheim-light-webfont.woff') format('woff'),
  url('/dist/fonts/gt-walsheim-light-webfont.ttf') format('truetype'),
  url('/dist/fonts/gt-walsheim-light-webfont.svg#gt_walsheimlight') format('svg');
  font-weight: lighter;
  font-style: normal;
}

$font-bold: 'WalsheimBold', Arial, Helvetica, sans-serif;
$font-regular: 'Walsheim', Arial, Helvetica, sans-serif;
$font-light: 'WalsheimLight', Arial, Helvetica, sans-serif;

$color-ink:#212B36;
$color-subdued: #727272;
$color-disabled: #B6B6B6;
$color-white: #fff;

$screen-xs-min: 480px !default;
$screen-sm-min: 768px !default;
$screen-md-min: 992px !default;
$screen-lg-min: 1200px !default;

$colour-font-link: #1998A6;
$colour-hr-article: #E8E8E8;
