
<cns-display typestyle="xlarge">Callout Card</cns-display>

<cns-display typestyle="large" variation="subdued">Single Card</cns-display>
<cns-callout-card img="assets/circled-user-male-skin-type-1-2.png" img-alt="credit card display circular image" style="width: 50%">
  <cns-display slot="title" typestyle="small">Not sure which Credit Card suits you?</cns-display>
    <cns-text slot="body">
      Whether you want to pay less interest or earn more rewards, the right card’s out there. Just answer a few questions and we’ll narrow the search for you.
    </cns-text>
    <cns-button slot="action" name="Get Started" type="secondary">
    </cns-button>
</cns-callout-card>

<cns-display typestyle="large" variation="subdued">Multiple cards in a flex box</cns-display>

<div style="display: flex; justify-content: space-between;">
  <style>
    cns-callout-card {
      width: 30%;
    }
  </style>
  <cns-callout-card img="assets/circled-user-male-skin-type-1-2.png" img-alt="credit card display circular image">
    <cns-display slot="title" typestyle="small">Not sure which Credit Card suits you?</cns-display>
    <cns-text slot="body" variation="subdued">
      Whether you want to pay less interest or earn more rewards, the right card’s out there. Just answer a few questions and we’ll narrow the search for you.
    </cns-text>
    <cns-button slot="action" name="Get Started" type="secondary">
    </cns-button>
  </cns-callout-card>
  <cns-callout-card img="assets/circled-user-male-skin-type-1-2.png" img-alt="credit card display circular image">
    <cns-display slot="title" typestyle="small">Not sure which Credit Card suits you?</cns-display>
      <cns-text slot="body" variation="subdued">
        Whether you want to pay less interest or earn more rewards, the right card’s out there. Just answer a few questions and we’ll narrow the search for you.
      </cns-text>
      <cns-button slot="action" name="Get Started" type="secondary">
      </cns-button>
  </cns-callout-card>
  <cns-callout-card img="assets/circled-user-male-skin-type-1-2.png" img-alt="credit card display circular image">
    <cns-display slot="title" typestyle="small">Not sure which Credit Card suits you?</cns-display>
      <cns-text slot="body" variation="subdued">
        Whether you want to pay less interest or earn more rewards, the right card’s out there. Just answer a few questions and we’ll narrow the search for you.
      </cns-text>
      <cns-button slot="action" name="Get Started" type="secondary">
      </cns-button>
  </cns-callout-card>
</div>
